* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

/* common class */
.bg-color {
    background-color: #1A0B2E;
}

.all-width {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px 16px;
    border-radius: 22px;
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(to bottom left, #F7E93F, #FB09B4, #9100F8);
    box-shadow: 1px 3px 20px 7px green;
}

/* navbar style */
.nav-btn {
    border: none;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFF;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
    color: #ffffffa7;
}

.btn a {
    text-decoration: none;
    font-weight: 600;
    color: #FFFF;
}

.hamburger-menu {
    display: none;
}

.horizontal {
    border: 1px solid #9100f846;
}

/* hero section style */
.banner {
    margin-top: 150px;
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-image {
    width: 350px;
    height: 350px;
    background-image: url(./assets/hero-circle.png);
    background-size: cover;
    background-position: center;
}

.new {
    padding: 5px 15px;
    background-color: #00ff88e8;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #1A0B2E;
    position: relative;
    bottom: 120px;
    left: 70px;
    border: none;
    box-shadow: 0px 0px 15px 1px #9100f8af;

}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.banner-image img {
    position: relative;
    top: 80px;
    left: 45px;
    animation: zoomInOut 2s ease-in-out infinite;
}


.banner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.banner-title {
    font-size: 3.8rem;
    font-weight: 800;
    color: #FFFF;
    margin-top: 40px;
}

.banner-description {
    color: #ffffff78;
    margin-bottom: 20px;
}

.group-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.group-btn img {
    width: 16px;
}

.banner-btn {
    border: none;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFF;
}

.banner-btn-2 {
    border: 2px solid #00FF88;
    font-weight: 600;
    color: #00FF88;
    background-color: transparent;
}

/* about-section design */

.about-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 50px 150px;
}

.about-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFF;
    margin-top: 80px;
}

.about-description,
.about-description-2,
.about-card-description {
    line-height: 20px;
    color: #ffffff86;
}

.horizontal-1 {
    border: 1px solid #ffffff54;
}

.about-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 140px;
    padding: 100px 0;
}

.about-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.about-card-title {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
    color: #00FF88;

}

.about-card i {
    font-size: 2rem;
}

/* techwave section */
.section-bg-color {
    background-color: #230E3D;
}

.box-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-section-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFF;
    margin: 120px 0 0;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px 0 120px;
}

.box-group {
    padding: 40px;
    border: none;
    border-radius: 40px;
    box-shadow: 1px 1px 30px 2px #1a0b2e;
    background-color: rgba(53, 17, 101, 0.4);
}

.box-1 {
    grid-row: span 2;
}

.box-1 img {
    margin-top: 50px;
}

.box-2,
.box-3,
.box-4 {
    grid-column: span 2;
}

.box-title {
    font-weight: bold;
    color: #ffffff;
    margin: 16px 0;
}

.box-description {
    font-size: 0.9rem;
    color: #ffffff95;
    line-height: 24px;
}

/* episode section */
.episode-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.episode-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFF;
    margin: 100px 0 40px;
}

.episode-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 50px;
}

.episode-card {
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    background-color: #250D44;
}


.episode-card iframe {
    border-radius: 25px 25px 0 0;
    height: 180px;
}

.episode-content {
    margin: 0;
    padding: 0;
    padding: 20px;
}

.episode-content-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 12px;
}

.episode-content-description {
    line-height: 24px;
    color: #ffffff96;
    margin-bottom: 15px;
}

.time {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: #00FF88;
}

.host-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.host-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFF;
    margin: 40px 0;
}

.host-content {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #230E3D;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 100px;
}

.host-content-title {
    font-size: 32px;
    font-weight: bold;
    color: #FFFF;
    margin-bottom: 20px;
}

.host-description {
    line-height: 24px;
    color: #ffffff7d;
    margin-bottom: 20px;
}

.group-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-2 {
    width: 35px;
    height: 35px;
    padding: 8px 9px;
    border: 1px solid #533C72;
    border-radius: 50%;
}

.logo-2 img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer section style */
.footer-section {
    width: 100%;
    margin: 0 auto;
    background: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1400px 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    justify-items: center;
}

.footer-title-logo img {
    margin-top: 60px;
    width: 350px;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.spotify {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffffff70;
    margin-bottom: 40px;
}

.copyright {
    color: #ffffff85;
    margin-bottom: 60px;
}

.horizontal-3 {
    border: 1px solid #ffffff23;
    width: 40%;
    margin-bottom: 10px;
}






/* small device responsive */

@media screen and (max-width:576px) {

    .nav-container .menu,
    .hide {
        display: none;
    }

    .nav-container .logo img {
        width: 137px;
    }

    .all-width {
        width: 90%;

    }

    .hamburger-menu {
        color: #FFFF;
        display: block;
    }

    .banner-image {
        width: 160px;
        height: 160px;
    }

    .banner-image img {
        width: 40px;
        position: relative;
        left: 22px;
        top: 50px;
    }

    .new {
        padding: 2px 8px;
        font-size: .6rem;
        position: relative;
        left: 45px;
        bottom: 25px;
    }

    .banner {
        margin-top: 40px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 570px 210px;
    }

    .banner-title {
        font-size: 2.3rem;
        margin-top: 10px;
    }

    /* about-section */
    .about-content {
        padding: 20px 0 50px;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 30px 0;
    }


    /* techwave section */
    .box-section-title {
        margin-top: 20px;
        font-size: 1.7rem;
    }

    .box-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .box-2,
    .box-3,
    .box-4 {
        grid-column: auto;
    }

    .box-1 {
        grid-row: auto;
    }

    /* episode section */
    .episode-title {
        font-size: 2rem;
        margin: 50px 0 20px;
    }

    .episode-card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .episode-card {
        width: 100%;
        height: 100%;
    }

    .host-content {
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .group-logo {
        justify-content: center;
    }

    .host-title {
        font-size: 2rem;
    }

    /* footer section style */
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo-group {
        grid-template-columns: repeat(2, auto);
        gap: 0;
        justify-items: flex-start;
    }

    .margin {
        margin-left: 50px;
    }

    .footer-section {
        background: url(./assets/footer-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 800px 290px;
    }

    .footer-title-logo img {
        width: 260px;
        margin-top: 50px;
        margin-bottom: 15px !important;
    }

    .spotify {
        font-size: .9rem;
        margin-bottom: 15px;
    }

    .copyright {
        margin-bottom: 40px;
    }

}

/* medium device responsive */
@media screen and (min-width:577px) and (max-width:992px) {

    .nav-container .menu,
    .hide {
        display: none;
    }

    .nav-container .logo img {
        width: 150px;
    }

    .all-width {
        width: 90%;

    }

    .hamburger-menu {
        color: #FFFF;
        display: block;
        font-size: 1.6rem;
    }

    .banner-image {
        width: 280px;
        height: 280px;
    }

    .banner-image img {
        width: 80px;
        position: relative;
        left: 30px;
        top: 80px;
    }

    .new {
        padding: 3px 8px;
        font-size: .8rem;
        position: relative;
        left: 70px;
        bottom: 70px;
    }

    .about-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        padding: 40px 0;
    }

    /* techwave section style */
    .box-section-title {
        margin-top: 20px;
        font-size: 2rem;
    }

    .box-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .box-2,
    .box-3,
    .box-4 {
        grid-column: auto;
    }

    .box-1 {
        grid-row: auto;
    }

    /* host section style */
    .episode-card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .episode-card {
        width: 100%;
        height: 100%;
    }

    .episode-card iframe {
        width: 100%;
        height: 320px;
    }

    .episode-content-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .episode-content-description {
        font-size: 1.3rem;
        margin-bottom: 25px;
    }

    .footer-logo-group {
        grid-template-columns: repeat(2, auto);
        gap: 0;
        justify-items: flex-start;
    }

    .margin {
        margin-left: 50px;
    }

    .footer-section {
        background: url(./assets/footer-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    .footer-title-logo img {
        width: 260px;
        margin-top: 50px;
        margin-bottom: 15px !important;
    }

    .spotify {
        font-size: .9rem;
        margin-bottom: 15px;
    }

    .copyright {
        margin-bottom: 40px;
    }

}