* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

/* common class */
.bg-color {
    background-color: #1A0B2E;
}

.all-width {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px 16px;
    border-radius: 22px;
}

/* navbar style */
.nav-btn {
    border: none;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFF;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
    color: #ffffffa7;
}

.btn a {
    text-decoration: none;
    font-weight: 600;
    color: #FFFF;
}

.hamburger-menu {
    display: none;
}

.horizontal {
    border: 1px solid #9100f846;
}

/* hero section style */
.banner {
    margin-top: 150px;
    /* padding-bottom: 100px; */
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-image {
    width: 350px;
    height: 350px;
    background-image: url(./assets/hero-circle.png);
    background-size: cover;
    background-position: center;
}

.banner-image img {
    position: relative;
    top: 25%;
}

.banner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.banner-title {
    font-size: 3.8rem;
    font-weight: 800;
    color: #FFFF;
    margin-top: 40px;
}

.banner-description {
    color: #ffffff78;
    margin-bottom: 20px;
}

.group-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 100px; */
    /* padding-bottom: 100px; */
}

.group-btn img {
    width: 16px;
}

.banner-btn {
    border: none;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFF;
}

.banner-btn-2 {
    border: 2px solid #00FF88;
    font-weight: 600;
    color: #00FF88;
    background-color: transparent;
}

/* about-section design */
.about-section {
    /* padding: 50px 200px 120px; */
}

.about-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 50px 150px;
}

.about-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFF;
    margin-top: 80px;
}

.about-description,
.about-description-2,
.about-card-description {
    line-height: 20px;
    color: #ffffff86;
}

.horizontal-1 {
    border: 1px solid #ffffff54;
}

.about-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 140px;
    /* justify-self:center; */
    padding: 100px 0;
}

.about-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.about-card-title {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
    color: #00FF88;

}

.about-card i {
    font-size: 2rem;
}

/* techwave section */
.section-bg-color {
    background-color: #230E3D;
}

.box-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-section-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFF;
    margin: 120px 0 0;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: stretch; */
    gap: 25px;
    padding: 40px 0 120px;
}

.box-group {
    padding: 40px;
    border: none;
    border-radius: 40px;
    box-shadow: 1px 1px 30px 2px #1a0b2e;
    background-color: rgba(53, 17, 101, 0.4);
}

.box-1 {
    grid-row: span 2;
}

.box-1 img {
    margin-top: 50px;
}

.box-2 {
    grid-column: span 2;
}

.box-3 {
    grid-column: span 2;
}

.box-4 {
    grid-column: span 2;
}

.box-title {
    /* font-size: 1.3rem; */
    font-weight: bold;
    color: #ffffff;
    margin: 16px 0;
}

.box-description {
    font-size: 0.9rem;
    color: #ffffff95;
    line-height: 24px;
}







/* medium device responsive */
@media screen and (min-width:577px) and (max-width:992px) {

    .nav-container .menu,
    .hide {
        display: none;
    }

    .nav-container .logo img {
        width: 150px;
    }

    .all-width {
        width: 90%;

    }

    .hamburger-menu {
        color: #FFFF;
        display: block;
        font-size: 1.6rem;
    }

    .banner-image {
        width: 280px;
        height: 280px;
    }

    .banner-image img {
        width: 70px;
        position: relative;
        top: 36%;
    }

}

/* small device responsive */
@media screen and (max-width:576px) {

    .nav-container .menu,
    .hide {
        display: none;
    }

    .nav-container .logo img {
        width: 137px;
    }

    .all-width {
        width: 90%;

    }

    .hamburger-menu {
        color: #FFFF;
        display: block;
    }

    .banner-image {
        width: 150px;
        height: 150px;
    }

    .banner-image img {
        width: 40px;
        position: relative;
        top: 32%;
    }

    .banner {
        margin-top: 40px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 370px 210px;
        /* background-size: cover; */
    }

    .banner-title {
        font-size: 2.3rem;
        margin-top: 10px;
    }

    /* about-section */
    .about-content {
        padding: 20px 0 50px;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        padding: 40px 0;
    }

    /* techwave section */
    .box-section-title{
        margin-top: 20px;
        font-size: 2rem;
    }
    .box-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .box-group {
        /* width: 100%; */
        /* margin: 0 auto; */
    }

    .box-1 {
        grid-row: span 1;
        /* margin-left:18px; */
    }

}